
@{
    ViewBag.Title = "About";
}

<h2>About us!</h2>
<p>Who we are</p>

<h5>THE BEST MODERN HOTEL</h5>
<p style="width: 60%">
    If you chose to stay with us you will enjoy modern home comforts
    in a traditional setting. Whether you are looking for a short weekend breakor 
    a longer holiday, we offer a range of packages for the best price.<br /><br />

    Enjoy your vacancy and we do the rest it has survived not only five centuries, 
    but also the leap into electronic typesetting, remaining essentially unchanged.
</p>



